
    {% for tweet, tweet_time, num_of_reply, mun_of_retweet, num_of_heart in data %}
    <!-- 記事エリア -->
    <div class="twitter__block">
      <figure>
        <img src="static/images/icon.png" />
      </figure>
      <div class="twitter__block-text">
        <div class="name">default_username<span class="name_reply">@user</span></div>
        <div class="date">{{ time }}</div>
        <div class="text">
          {{ tweet }}<br>
        </div>
        <div class="twitter__icon">
        {% if num_of_reply==None %}
          <span class="twitter-bubble"></span>
          <span class="twitter-loop"></span>
          <span class="twitter-heart"></span>
        {% else %}
          <span class="twitter-bubble">{{ num_of_reply }}</span>
          <span class="twitter-loop">{{ mun_of_retweet }}</span>
          <span class="twitter-heart">{{ num_of_heart }}</span>
        {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
