
    {% for tweet, tweet_time, num_of_reply, mun_of_retweet, num_of_heart in data %}
    <!-- 記事エリア -->
    <div class="twitter__block">
      <figure>
        <img src="static/images/icon.png" />
      </figure>
      <div class="twitter__block-text">
        <div class="name">test<span class="name_reply">@user</span></div>
        <div class="date">{{ time }}</div>
        <div class="text">
          {{ tweet }}<br>
        </div>
        <div class="twitter__icon">
          <span class="twitter-bubble">{{ n_reply }}</span>
          <span class="twitter-loop">{{ n_retweet }}</span>
          <span class="twitter-heart">{{ n_heart }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
