<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>twiiiitter</title>
  <link rel='stylesheet' href='/static/css/style.css' type='text/css' media='all' />
</head>
<body>

  <!-- ▼twitter風ここから -->
  <div class="twitter__container">
    <!-- タイトル -->
    <div class="twitter__title">
      <span class="twitter-logo"></span>
    </div>

    <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
    <div class="twitter__contents scroll">

    <form action="/" method="POST" enctype="multipart/form-data">
    <body style="height:100%; background-color: #E6ECF0;">
        <div class="wrapper" style="margin: 0 auto; width: 100%; height: 13%; background-color: white;">
            <form action="/timeline" method="post">
                <div style="background-color: #E8F4FA; text-align: center;">
                    <input type="text" name="tweet" style="margin: 1rem; padding: 0 1rem; width: 70%; border-radius: 6px; border: 1px solid #ccc; height: 2.3rem;" placeholder="今どうしてる？">
                    <button type="submit" style="background-color: #2695E0; color: white; border-radius: 10px; padding: 0.5rem;">ツイート</button>
                </div>
            </form>
        </div>
    </body>
    </form>
	  



    {% if method=='get' %}
     <!-- {{ method }} -->
     {% extends "get.html" %}
    {% else %}
     <!-- {{ method }} -->
    {% extends "post.html" %}
    {% endif %}
    

    </div>
    <!--　▲タイムラインエリア ここまで -->
  </div>
  <!--　▲twitter風ここまで -->

</body>

</html>
